/*[VIEWERS]DO NOT MODIFIY COPY RAW FILE FOR NEED TO MODIFY*/
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    width: 100vw;
    height: 100vh;
}

/* Header */
header {
    background: url(/images/checked.jpg) no-repeat center center/cover;
    padding: 20px;
    border: 2px solid black;
}

header .logo h1 {
    color: beige;
    font-size: 2em;
    margin: 0;
    font-family: Segoe Script;
}

.logo > h1:hover {
    color: burlywood;
    box-shadow: 0 0 10px 2.5px white;
    border-radius: 10px;
}

.logo {
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2.5px burlywood;
    background: linear-gradient(to bottom left, black, #C66A3C);
    border: 3px solid black;
}

.logo-title {
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-iteration-count: 3;
    border-radius: 10px;
}

#icon {
    font-size: 20px;
}


/*Update panel*/

.update-panel {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 0.5px;
    border-radius: 10px;
    background: url(/images/Black\ Texture\ Background.jpg) no-repeat center center/cover;
    box-shadow: 0 0 10px 2.5px gold;
}

.update-title {
    text-align: center;
    font-size: 15px;
    color: gold;
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    border-radius: 10px;
}

.update-info {
    font-weight: bold;
    color: white;
    margin-top: 5px;
}
/*Start of Nav links*/
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-links > li > a:hover {
    color: #C66A3C;
}

li > a:visited {
    color: beige;
}



/* slogan Section */
.slogan {
    background: url('/images/AccFrontDisplay.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.slogan-content {
    color: white;
}

.bold {
    font-weight: bold;
}

.slogan h2 {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: Segoe Script;
}

.slogan p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.slogan .btn {
    padding: 10px 30px;
    background-color: #f9c74f;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.slogan .btn:hover {
    background-color: #ffb703;
}

/* Menu Section */
.menu {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
    
}

.menu h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.menu-items .item {
    background: linear-gradient(to bottom right, white, beige);
    padding: 20px;
    border-radius: 10px;
    width: auto;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    animation-name: descend;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.menu-items .item h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.menu-items .item p {
    font-size: 1.1em;
    color: #777;
}

.subtitle {
    color: gold;
}

#description {
    color: black;
}
.prices {
   font-weight: bold;
   text-decoration-line: underline;
}

.coffee-p {
    margin-top: 20px;
}

.iced-beverages-p {
    margin-top: 20px;
}

.flavors-p {
    margin-top: 25px;
}

.lunchMenu-p {
    margin-top: 12px;
}

.espresso-p {
    margin-top: 30px;
}

.sugar-type {
    color: black;
}

.memo {
    color: black;
    font-weight: bold;
}

.coldMenu-p {
    margin-top: 7px;
}

#specialD-memo {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.specialD-title {
    margin-top: 8px;
}

/*Catering section*/
.catering-background {
    text-align: center;
    padding: 50px 0;
    background-color: white;
}

.pic-holder {
    background: url(/images/faced\ coffee.jpeg) no-repeat center center/cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2.5px gray;
}

.catering {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    animation-name: descend;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

.cater-subtitle {
    font-size: 30px;
    text-align: center;
}

.catering-card {
    text-align: left;
    background: linear-gradient(to bottom right, white, beige);
    border-radius: 10px;
    box-shadow: 0 0 10px 2.5px gray;
    margin: 30px;
    justify-content: auto;
    flex-wrap: wrap;
}

.price-title {
    margin-top: 50px;
    color: gold;
    font-size: 25px;
}

.price-right {
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    float: right;
    text-decoration: underline;
    text-decoration-color: black;
}

.cater-slogan-text {
    margin-top: 50px;
    font-weight: bold;
}

.cater-contact-text {
    margin-top: 20px;
    font-weight: bold;
}


.catering-title {
    font-size: 35px;
}
/* Contact Section */
.contact {
    background: linear-gradient(to left bottom , beige, white);
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.contact form button {
    background-color: #f9c74f;
    color: #333;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.contact form button:hover {
    background-color: black;
    color: white;
}

/* Footer */
footer {
    background: url(/images/checked.jpg) no-repeat center center/cover;
    color: #fff;
    text-align: justify;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.footer-card {
    width: 70%;
    height: auto;
    text-align: center;
}

.footer-card a {
    color: black;
}

footer p {
    font-size: 1em;
}

.address {
    font-weight: bold;
}

.hours-p {
    color: black;
    font-weight: bold;
}

@keyframes descend {
    0% {transform: translateY(0%) scale(0);}
    100% {transform: translateY(0%);}
}

@keyframes blink {
    0% {opacity: 0.5; box-shadow: 0 0 10px 2.5px;}
    50% {opacity: 1; box-shadow: 0 0 10px 2.5px white;}
    100% {opacity: 0; box-shadow: 0 0 10px 2.5px ;}
}





@media only screen and (aspect-ratio: 16/9) {}

@media (max-wdith: 480px) {}

@media (min-width: 481px) and (max-width: 767px){
    .logo {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px){}
